{% block sw_cms_element_jumbotron %}
    <div class="sw-cms-el-jumbotron" :style="{ 'background-color': backgroundColor }">
        <h1 class="sw-cms-el-jumbotron-title" v-text="title"></h1>
        <div class="sw-cms-el-jumbotron-text" v-text="text"></div>
        <a class="sw-cms-el-jumbotron-button" v-text="buttonText" :href="buttonLink"></a>
    </div>
{% endblock %}
