{% block sw_cms_preview_jumbotron %}
    <div class="sw-cms-preview-jumbotron">
        <div>
            <h2>Lorem ipsum dolor</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <button class="btn btn-primary btn-lg" href="#" role="button">Learn more</button>
        </div>
    </div>
{% endblock %}
